@font-face {
  font-family: "KumbhSans";
  src: url("./Fonts/KumbhSans.woff2") format("woff2");
  font-weight: 100 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "KumbhSans";
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  min-height: 99.23px;
}

/* Start Navigation  bar */
header {
  border-bottom: 2px solid hsl(223, 64%, 98%);
  height: 115px;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.burger-menu {
  display: none;
  cursor: pointer;
}

#burger-checkbox {
  display: none;
}

nav .logo {
  display: flex;
  margin: 0px 8px;
  align-items: center;
  justify-content: center;
  flex-basis: 15%;
}

nav .logo a img {
  display: flex;
  width: 145px;
  flex-wrap: wrap;
  padding: 2.7rem 0rem;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-basis: 60%;
}

nav ul li {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 80px;
  justify-content: center;
}

nav ul li a {
  color: hsl(219, 9%, 45%);
  position: relative;
  transition: color 0.4s;
  padding: 2.8rem 0.5rem;
}

nav ul li:hover a {
  color: hsl(0, 0%, 0%);
}

nav ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: transparent;
  transition: width 0.4s;
}

nav ul li:hover a::before {
  background-color: hsl(26, 100%, 55%);
  width: 100%;
}

nav .buy {
  display: flex;
  flex-basis: 15%;
  /* flex: 1; */
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.continer-Cart {
  position: relative;
}

nav .buy .cart {
  padding: 1rem;
  background-image: url(./images/icon-cart.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

nav .buy .cart span {
  position: absolute;
  display: flex;
  padding: 0px 8px;
  background-color: hsl(26, 100%, 55%);
  justify-content: center;
  align-items: center;
  color: hsl(223, 64%, 98%);
  top: 0%;
  right: -5px;
  border-radius: 12px;
}

.show-Product {
  display: none;
  flex-direction: column;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  width: 380px;
  top: calc(100% + 30px);
  left: -50%;
  transform: translate(-50%, 0%);
  box-shadow: 0px 12px 26px -13px hsl(219, 9%, 45%);
}

.show-Product .cart-name {
  padding: 20px 20px;
  border-bottom: 2px solid hsl(223deg 17.32% 89.7%);
  font-weight: 800;
  font-size: medium;
  text-align: left;
}

.show-Product section {
  padding: 20px 20px;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.show-Product section img {
  width: 50px;
  border-radius: 6px;
}

.show-Product section .name-and-price {
  padding: 0 11px;
  line-height: 2;
}

.name-and-price p {
  display: inline;
  color: #959090;
}

.show-Product section .name-and-price .nameProduct {
  text-transform: capitalize;
  line-height: 2;
}

.containerPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show-Product section .name-and-price .native-dropdown {
  margin: 0 6px;
  padding: 3px;
  border-radius: 9px;
  transition: 0.3s;
}

.show-Product section .name-and-price .native-dropdown:hover {
  background: hsl(0, 0%, 100%);
}

#quantity {
  border: none;
  outline: none;
  background-color: transparent;
}

.show-Product section .name-and-price .totle-price {
  font-weight: 800;
  color: black;
}

.emptySpan {
  display: block;
  padding: 69px 20px;
  margin: 0 auto;
}

.congratulations {
  display: none;
  padding: 69px 20px;
  margin: 0 auto;
  font-size: 22px;
  text-align: center;
  font-weight: 900;
  color: rgb(12, 138, 12);
}

.show-Product section .delete {
  background-image: url(./images/icon-delete.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  height: 1rem;
  padding: 0px 6px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.show-Product .Checkout {
  display: none;
  padding: 20px 89px;
  margin: 30px 20px;
  margin-top: 0;
  border: none;
  border-radius: 9px;
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

nav .buy .avatar {
  padding: 1rem;
}

nav .buy .avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

nav .buy .avatar:hover img {
  border-color: hsl(26, 100%, 55%);
}

/* Styles for burger menu in smaller screens */
@media (max-width: 768px) {
  .show-Product {
    width: 370px;
    top: calc(206% + 30px);
    left: -163%;
    z-index: 5;
  }

  .show-Product section .name-and-price .native-dropdown {
    display: block;
    width: fit-content;
  }

  .burger-menu {
    margin: 0 11px;
    display: block;
    width: 27px;
    height: 23px;
    position: relative;
    background-image: url(./images/icon-menu.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.3s;
  }
}

nav #overlay {
  display: none;
}

.menu-links .close {
  display: none;
}

/* Media query for mobile devices */

@media (max-width: 768px) {
  .menu-links {
    position: fixed;
    top: 0;
    left: -100%;
    width: 65%;
    height: 100%;
    background-color: hsl(223, 64%, 98%);
    z-index: 998;
    flex-direction: column;
    align-items: flex-start;
    transition: left 0.3s;
  }

  .menu-links.open {
    display: flex;
    left: 0;
  }

  .menu-links .close {
    display: block;
    font-size: 33px;
    margin: 21px;
    margin-left: 2rem;
    width: 3rem;
    height: 2rem;
    cursor: pointer;
    font-family: "KumbhSans";
    background-color: transparent;
    background-image: url(./images/icon-close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    text-align: left;
  }

  nav #overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s, visibility 0.3s;
  }

  nav .buy {
    flex: 1;
    flex-basis: 0%;
    justify-content: flex-end;
  }

  .menu-links .avatar {
    display: block;
    font-size: 33px;
    width: 100%;
    padding: 17px 40px;
    cursor: pointer;
  }

  nav ul li {
    flex-basis: 0%;
    padding-left: 2.3rem;
  }

  #burger-checkbox:checked+.burger-menu+.menu-links {
    display: block;
    left: 0%;
  }

  .menu-links ul {
    display: block;
    text-align: center;
    padding-top: 100px;
    /* Adjust as needed */
  }

  .menu-links ul li {
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .menu-links li a {
    font-size: 1rem !important;
  }
}




/* Start Product  */
main .container {
  display: flex;
  padding-bottom: 80px;
  padding-top: 80px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*Start imgs-Product */
.imgs-Product {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 40%;
  opacity: 0;
  visibility: hidden;
}

.MasterImg {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 40px;
}

.MasterImg .btn-prev,
.MasterImg .btn-next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  border: transparent;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border-width: 2px;
  cursor: pointer;
  background-size: auto;
  transition: border 0.3s linear;
  z-index: 999;
}

.MasterImg .btn-next {
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  border: transparent;
  transition: border 0.3s linear;
}

.MasterImg .btn-prev {
  left: 5px;
  transform: translateY(-50%);
}

.MasterImg .btn-prev:hover,
.MasterImg .btn-next:hover {
  border: 2px solid hsl(26, 100%, 55%);
  background-color: hsl(0, 0%, 100%);
}

.MasterImg .shoes {
  width: 100%;
  height: 100%;
}
.shoes:hover{
  cursor: grab;
}
.shoes:active{
  cursor: grabbing;
}

.MasterImg>.item {
  display: flex;
  border: 5px solid;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out 0s;
}

.slider .item {
  min-width: 100%;
  min-height: 100%;
}

.active {
  opacity: 0.3;
}

.underlayImgsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.underlayImgsContainer img {
  cursor: pointer;
  height: 100px;
  border-radius: 15px;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.underlayImgsContainer img:hover {
  border-color: hsl(26, 100%, 55%);
  opacity: 0.6;
}

main .container #overlay-imgs-Product {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.closeButton {
  position: absolute;
  right: 13px;
  top: 1rem;
  background-color: transparent;
  border: none;
  fill:hsl(0, 0%, 100%);
  cursor: pointer;
  transform: scale(1.9);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.closeButton:hover{
  fill:hsl(26, 100%, 55%);
}
.modal-content img {
  margin: 0 auto;
}
.overlay-imgs-Product #mainImgContainer {
  text-align: center;
  display: flex;
  width: 630px;
}

.overlay-imgs-Product #mainImgContainer .MasterImg {
  margin-bottom: 0;
}

.overlay-imgs-Product .underlayImgsContainer .item {
  width: 140px;
  height: 140px;
}

.overlay-imgs-Product .underlayImgsContainer .item img {
  width: 100%;
  height: 100%;
}


.mainImgContainer .btn-next {}

.mainImgContainer .btn-prev {}


.mainImgContainer img {
  width: 100%;
  border-radius: 17px;
}

.mainImgContainer .underlayImgsContainer {
  display: flex;
}

.underlay-img {
  width: 100px;
  border-radius: 15px;
}

/*End imgs-Product */

.imgs-price {
  width: 40%;
  margin-left: 8rem;
  opacity: 0;
  visibility: hidden;
}

.imgs-price>span:first-child {
  color: hsl(26, 100%, 55%);
  line-height: 2.3;
  font-size: large;
  font-weight: 700;
}

.imgs-price h1 {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 40px;
}

.imgs-price p {
  color: hsl(220, 14%, 75%);
  margin-bottom: 45px;
}

.span-price {
  margin-bottom: 3rem;
}

.price {
  display: flex;
}

.span-price span {
  font-size: 2rem;
  font-weight: 800;
}

.span-price .dicont {
  color: hsl(26, 100%, 55%);
  background-color: hsl(25, 100%, 94%);
  padding: 5px;
  margin: 7px 12px;
  font-weight: 800;
}

.span-price .original-price {
  display: block;
  margin-top: 14px;
  opacity: 0.5;
  text-decoration: line-through;
}

.plus-minus {
  display: flex;
}

.add-remove {
  background-color: hsl(223, 64%, 98%);
  width: 140px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plus-minus .minus,
.plus-minus .plus {
  background-color: transparent;
  border: none;
  padding: 0 12px;
  cursor: pointer;
}

.plus-minus .add-btn {
  margin-left: 15px;
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  padding: 18px 51px;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 700;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 9px 1px hsl(26, 100%, 55%);
  cursor: pointer;
}
.plus-minus .add-btn img {
  filter: invert(28%) sepia(31%) saturate(5768%) hue-rotate(229deg) brightness(265%) contrast(127%);
  margin-right: 14px;
}

/* End Product */
@media (min-width: 320px) and (max-width: 768px) {
  main .container {
    padding-top: 0px;
    padding-left: 0;
    padding-right: 0;
  }

  .MasterImg {
    margin-bottom: 40px;
    border-radius: 0;
  }

  .MasterImg .btn-prev,
  .MasterImg .btn-next {
    display: block;
  }

  .MasterImg .btn-prev {
    left: 35px;
  }

  .MasterImg .btn-next {
    right: 0;
  }

  .underlayImgsContainer {
    display: none;
  }

  .imgs-Product {
    width: 100%;
  }

  /* .modal-content{
    justify-content: center;
  } */
  .overlay-imgs-Product #mainImgContainer {
    width: 100%;
    height: 60%;
  }

  .modal-content .slider {
    height: 100%;
  }


  .imgs-price {
    min-width: 100%;
    margin: 0px 1rem;
    padding-left: 15px;
    padding-right: 15px;
  }

  .imgs-price h1 {
    margin-bottom: 15px;
    font-size: 1.7rem;
  }

  .imgs-price p {
    margin-bottom: 30px;
  }

  .span-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .price {
    display: flex;
    align-items: center;
  }

  .span-price .original-price {
    margin-top: 0;
  }

  .plus-minus {
    flex-direction: column;
  }

  .add-remove {
    min-width: 100%;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    padding: 21px;
    margin-bottom: 14px;
  }

  .plus-minus .add-btn {
    margin-left: 0;
    justify-content: center;
    box-shadow: 0px 4px 9px 1px hsl(26, 100%, 55%);
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .imgs-price {
    width: 48%;
    margin-left: 1rem;
  }

  .plus-minus .add-btn {
    font-size: 14px;
    padding: 18px 40px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 1.8s ease;
  -webkit-transition: opacity 1.8s ease;
  -moz-transition: opacity 1.8s ease;
  -ms-transition: opacity 1.8s ease;
  -o-transition: opacity 1.8s ease;
}